@import "dropzone";

.img-preview {
}
.img-preview > img {
  margin: auto;
  position: relative;
  display: block;
  max-height: 400px;
  max-width: 100%;
}
.dropzone {
  max-height: 400px;
  height: 100%;
  margin: 20px 0;
  min-height: 200px;
}
