{% extends 'LineStormCmsBundle:Admin:layout.html.twig' %}

{% block breadcrumbs %}
    <li><a href="{{ url('linestorm_cms_admin_module_media') }}"><i class="fa-picture-o"></i> Media</a></li>
    {% block module_bread %}

    {% endblock %}
{% endblock %}
