{{
    include('LineStormCmsBundle::requirejs.html.twig', {
        requirejs_module: ['cms_media_treebrowser']
    })
}}
<div id="media-tree"
     data-root="{{ url }}"
     data-init="{% if init_node is defined %}{{ init_node }}{% endif %}"
     data-input="{% if input is defined %}{{ input }}{% endif %}">
    <!-- media tree -->
</div>
