{% extends 'LineStormCmsBundle:Admin:index.html.twig' %}

{% block page_title %}View All Media{% endblock %}

{% block head %}
    {% block requirejs %}
        {{
            include('LineStormCmsBundle::requirejs.html.twig', {
                requirejs_module: ['cms_main', 'cms_media_list']
            })
        }}
    {% endblock %}

    {% stylesheets
        filter="compass" output="assets/bundles/linestormmedia/css/media.css"
        "@LineStormMediaBundle/Resources/assets/sass/media.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block module %}


    <div class="row">
        <div class="col-xs-12">
            {{ include('LineStormMediaBundle:Form:mediatreebrowser.html.twig', {
                url: url('linestorm_cms_module_media_api_get_category_mediatree'),
                input: '.media-form-category'
            }) }}
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary media-edit">
                <i class="fa-pencil"></i> Edit Selected
            </button>

            <button class="btn btn-primary media-category-new">
                <i class="fa-plus"></i> New Category
            </button>
        </div>
    </div>

{% endblock %}
