{% extends 'LineStormCmsBundle:Admin:index.html.twig' %}

{% block page_title %}View All Media{% endblock %}

{% block head %}
    {{ include('AndyPortfolioBundle::requirejs.html.twig', {
        requirejs_module: ['../bundles/linestormcms/js/main', '../bundles/linestormmedia/js/media-list']
    }) }}

{% endblock %}

{% import _self as fn %}
{% macro imageItem () %}
    {% spaceless %}
    <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 ">
        <a href="__id__/edit" class="thumbnail preview">
            <img data-src="holder.js/100%x180" src="__src__">
            <div class="caption">
                <p>__title__</p>
            </div>
        </a>
    </div>
    {% endspaceless %}
{% endmacro %}

{% block module %}
    <ul class="pager pull-left">
        <li><a class="media-prev" href="#">Previous</a></li>
        <li><a class="media-next" href="#">Next</a></li>
    </ul>
    <div class="row media-container" data-prototype="{{ fn.imageItem()|e('html_attr') }}" data-url="{{ path('linestorm_cms_module_media_api_get_media_all') }}">

    </div>
    <ul class="pager pull-left">
        <li><a class="media-prev" href="#">Previous</a></li>
        <li><a class="media-next" href="#">Next</a></li>
    </ul>
{% endblock %}
